<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知了课堂</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1239817_3xfonheuqlv.css">
</head>
<body>
    <header class="header">
        <div class="container">
            
            <div class="logo-box">
                <a href="/"></a>
            </div>
            
            <ul class="nav">
                <li class="active"><a href="/">资讯</a></li>
                <li><a href="/">创业课堂</a></li>
                <li><a href="/">企业服务</a></li>
                <li><a href="/">搜索</a></li>
            </ul>

            <div class="auth-box">
                <i class="icon-person iconfont"></i>&nbsp;&nbsp
                <a href="#">登录</a>
                <a href="#">注册</a>
            </div>
            
        </div>
    </header>
</body>
</html>